@media (min-width: 530px) {
  .container-tax {
    background-color: #E5E5E5;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100%;
  }
}

.tax-modal {
  width: 320px;
  min-height: 476px;
  font-family: 'Arial';
  margin: 0 auto;
  line-height: 24px;
  background: white;
}

@media (min-width: 530px) {
  .tax-modal {
    border-radius: 30px;
    min-width: 453px;
  }
}

@media (min-width: 769px) {
  .tax-modal {
    width: 552px;
  }
}

@media (min-width: 530px) {
  .tax-container-tablet-pc {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 530px) {
  .container-tax__padding {
    padding-top: 120px;
  }
}

.tax-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 530px) {
  .tax-container {
    padding: 32px;
  }
}

@media (min-width: 530px) {
  .tax-modal__img-close {
    width: 18px;
  }
}

.tax-container__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 16px;
}

@media (min-width: 530px) {
  .tax-container__title {
    font-size: 28px;
  }
}

.tax-modal__button-close {
  background: transparent;
  border: none;
  position: absolute;
  right: 16px;
  width: 15px;
  height: 15px;
}

@media (min-width: 530px) {
  .tax-modal__button-close {
    right: 32px;
    top: 26px;
  }
}

.tax-container__sub-text {
  padding-top: 16px;
  width: 100%;
  line-height: 16px;
  color: #808080;
  font-size: 12px;
}

@media (min-width: 530px) {
  .tax-container__sub-text {
    font-size: 14px;
    line-height: 24px;
    max-width: 370px;
  }
}

@media (min-width: 769px) {
  .tax-container__sub-text {
    max-width: 468px;
  }
}

.tax-container__title-quest {
  padding-top: 24px;
  font-weight: 600;
}

.tax-container__input-answer {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  padding: 8px 10px;
  border: 1px solid #BEC5CC;
}

.tax-container__button-calc {
  width: 76px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #EA0029;
  background: transparent;
  border: none;
}

.tax-container__quest {
  font-weight: 600;
  padding-top: 24px;
}

.tax-container__buttons {
  padding-top: 24px;
  padding-bottom: 140px;
}

@media (min-width: 530px) {
  .tax-container__buttons {
    padding-bottom: 46px;
    padding-left: 88px;
  }
}

@media (min-width: 769px) {
  .tax-container__buttons {
    padding-left: 32px;
  }
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-size: 14px;
}

.container-button-pay {
  padding: 6px 12px;
  height: 36px;
  background-color: transparent;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  border-radius: 50px;
  border: none;
  color: white;
}

.container-button-time {
  padding: 6px 12px;
  height: 36px;
  background-color: transparent;
  border: none;
  background: #EEF0F2;
  border-radius: 50px;
}

.tax-container__button-add {
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  color: white;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  border-radius: 6px;
  border: none;
}

@media (min-width: 530px) {
  .tax-container__button-add {
    font-size: 16px;
    height: 56px;
  }
}

.tax-container__button-add:hover {
  background: #EA0029;
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
}

*:disabled {
  background: #BEC5CC;
  color: white;
  box-shadow: none;
  border: none;
}
/*# sourceMappingURL=ModalDefault.css.map */